.jurados .txt-sessao {
  font-size: var(--size-titulo);
  font-family: var(--font-montserrat);
}

.jurado-card {
  background: transparent;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  max-width: 13rem;
  color: white;
  text-align: center;
}
.jurado-card p:nth-child(3) {
  color: #47ffbf;
  font-size: 16px;
}
.jurado-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container-jurados {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-pagination-jurados {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .jurados .d-none {
    display: block !important;
  }
  .jurados .d-md-flex {
    display: none !important;
  }
}