.sobre .txt-sessao {
  font-size: var(--size-titulo);
  font-family: var(--font-montserrat);
}

.sobre-img {
  opacity: 0.5;
  filter: blur(5px);
}
.txt-sobre {
  max-width: 700px;
  line-height: 30px;
}
@media (max-width: 767.98px) {
  .sobre-img {
    display: none;
  }
}
